# ==========================================
# Visual Studio Code Settings & Cache
# ==========================================
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
*.code-workspace

# Built VS Code Extensions
*.vsix

# Local History plugin for VS Code
.history/

# ==========================================
# Windows OS System Files
# ==========================================
# Desktop environment management
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db

# Folder config file
Desktop.ini

# Recycle Bin used on NTFS volumes
$RECYCLE.BIN/

# Windows shortcut files
*.lnk

# Windows Installer files / build outputs
*.cab
*.msi
*.msix
*.msm
*.msp


